<div class="row">
    <ul class="list-group">
        <a routerLink=""
        class="list-group-item list-group-item-action"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact:true }">Circulo</a>
        <a routerLink="cuadrado" routerLinkActive="active" class="list-group-item list-group-item-action">Cuadrado</a>
        <a routerLink="rectangulo" routerLinkActive="active" class="list-group-item list-group-item-action">Rectángulo</a>
        <a routerLink="triangulo" routerLinkActive="active" class="list-group-item list-group-item-action">Triangulo</a>
        <a routerLink="pentagono" routerLinkActive="active" class="list-group-item list-group-item-action">Pentágono</a>
        <a routerLink="hexagono" routerLinkActive="active" class="list-group-item list-group-item-action">Hexágono</a>
    </ul>
</div>
